*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 7%);
    color: whitesmoke;
}
header{
    width: 100%;
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;
}
nav img{
    width: 100px;
}
nav h1{
    color: hsl(185, 86%, 46%);
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}

.title_div{
    padding: 40px 40px;
    text-align: center;
}
div h1{
    color: hsl(185, 86%, 46%);
}

.skill_box{
    padding: 0 50px;
    padding-bottom: 100px;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill_image{
    flex-basis: 35%; /*column width 35%*/
}
.skill_image img{
    width: 100%;
    border-radius: 15px; /*image corners rounded*/
}
.skill_text{
    flex-basis: 60%; /*column width 60%*/
    padding: 15px;
}
